<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel">
          <div class="panel-heading">
            <h5 class="title">
              {{ adm.userName }}
            </h5>
            <h3 class="title">Admin Panel</h3>
          </div>
          <div class="p-3">
            <form [formGroup]="adminForm">
              <p class="title">
                Enter the username of the user you want to query
              </p>

              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    adminForm.controls['username'].dirty &&
                    adminForm.hasError('required', 'username')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    class="p-2"
                    formControlName="username"
                    type="text"
                    placeholder="Username"
                  />
                  <button
                    (click)="search()"
                    type="submit"
                    class="btn btn-primary m-0"
                  >
                    Search
                  </button>
                </div>
                <small
                  *ngIf="
                    adminForm.controls['username'].dirty &&
                    adminForm.hasError('required', 'username')
                  "
                  class="text-danger"
                  >*Username is required
                </small>
              </div>

              <div class="form-group pt-3">
                <ul>
                  <li class="field">
                    <span class="fa fa-user p-2"></span
                    ><label class="black"
                      >Firstname : {{ user.firstName }}</label
                    >
                  </li>
                  <li class="field">
                    <span class="fa fa-user p-2"></span
                    ><label class="black">Lastname : {{ user.lastName }}</label>
                  </li>
                  <li class="field">
                    <span class="fa fa-user p-2"></span
                    ><label class="black">Username : {{ user.userName }}</label>
                  </li>
                  <li class="field">
                    <span class="fa fa-user p-2"></span>
                    <label class="black">Role : </label>
                    <select
                      class="borderNone"
                      type="text"
                      id="roles"
                      [(ngModel)]="typeSelected"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <option
                        type="text"
                        *ngFor="let type of userType"
                        [value]="type.Id"
                      >
                        {{ type.Type }}
                      </option>
                    </select>
                  </li>
                </ul>
              </div>

              <div>
                <button
                  (click)="changeRole()"
                  type="submit"
                  class="btn btn-success btn-block mt-4 w-50"
                >
                  Update
                </button>

                <button
                  (click)="deleteUser()"
                  type="submit"
                  class="btn btn-danger btn-block mt-4 w-50"
                >
                  Delete
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
