.outer {
  min-height: 100vh;
  background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%);
}
.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}
.black {
  color: black;
}
.borderNone {
  cursor: pointer;
  border: none;
  outline: none;
  width: 80%;
}
.title {
  padding-top: 10px;
  margin: 0px;
}
#forget {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.btn {
  margin-top: 20px;
  border-radius: 15px;
}
.panel {
  box-shadow: 0px 0px 30px black;
  border-radius: 12px;
  margin-top: 100px;
  background-color: white;
}
.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff;
}
.input-field.error {
  border: 1px solid red;
  color: red;
}
input[type="number"],
input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.fa-eye-slash-btn {
  border: none;
  outline: none;
  box-shadow: none;
}
img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.field {
  margin-top: 4px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  color: #4343ff;
}
.leftColumn {
  float: left;
  width: 30%;
}
.rightColumn {
  float: left;
  width: 70%;
}
.column {
  min-height: 60vh;
  background-color: #ddd;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  float: left;
  width: 50%;
}
.list-group-item {
  cursor: pointer;
}
.input {
  border-radius: 10px;
}
.outermostBox {
  margin: 30px;
  padding: 20px;
  background-color: white;
  min-height: 80vh;
  box-shadow: 0px 0px 30px black;
  border-radius: 5px;
}
.balance {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(69, 116, 247);
  box-shadow: 0px 0px 10px black;
  min-height: 10vh;
  font-weight: bold;
  text-align: center;
}
