.leftColumn {
  float: left;
  width: 30%;
}
.rightColumn {
  float: left;
  width: 70%;
}
.column {
  min-height: 60vh;
  background-color: #ddd;
  padding-top: 5px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  float: left;
  width: 50%;
}
.list-group-item {
  cursor: pointer;
}
.input {
  border-radius: 10px;
}
.outermostBox {
  margin: 30px;
  padding: 20px;
  background-color: white;
  min-height: 80vh;
  box-shadow: 0px 0px 30px black;
  border-radius: 5px;
}
.balance {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(69, 116, 247);
  box-shadow: 0px 0px 10px black;
  min-height: 10vh;
  font-weight: bold;
  text-align: center;
}
