<div class="outer">
  <app-nav></app-nav>
  <div class="leftColumn">
    <div class="outermostBox">
      <div class="balance">
        <h4>Balance</h4>
        <p>{{ hm.balance }}₺</p>
      </div>
      <div class="balance mt-4">
        <ul class="list-group">
          <li (click)="showMoneyType('US DOLLAR')" class="list-group-item">
            US DOLLAR
          </li>
          <li (click)="showMoneyType('EURO')" class="list-group-item">EURO</li>
          <li (click)="showMoneyType('POUND STERLING')" class="list-group-item">
            POUND STERLING
          </li>
          <li (click)="showMoneyType('SWISS FRANK')" class="list-group-item">
            SWISS FRANK
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="rightColumn">
    <div class="outermostBox">
      <div>
        <div class="balance">
          <h5>Date</h5>
          <h6>{{ date }}</h6>
        </div>

        <div class="column">
          <h2>Buy</h2>
          <p>{{ currency.name }} = ₺{{ currency.purchase }}</p>
          <form [formGroup]="homeBuyForm">
            <div class="form-group pt-3">
              <div
                class="input-field"
                [class.error]="
                  homeBuyForm.controls['buyAmount'].dirty &&
                  homeBuyForm.hasError('required', 'buyAmount')
                "
              >
                <input
                  id="buyAmount"
                  class="input m-3 p-2"
                  formControlName="buyAmount"
                  type="number"
                  placeholder="Purchase"
                />
              </div>
              <small
                *ngIf="
                  homeBuyForm.controls['buyAmount'].dirty &&
                  homeBuyForm.hasError('required', 'buyAmount')
                "
                class="text-danger"
                >*Price is required
              </small>
            </div>

            <button
              (click)="purchase()"
              type="submit"
              class="btn btn-primary btn-block mb-4 w-50"
            >
              Buy
            </button>

            <p>You have {{ sumMoney }} {{ currency.name }} in your account.</p>
          </form>
        </div>

        <div class="column">
          <h2>Sell</h2>
          <p>{{ currency.name }} = ₺{{ currency.sale }}</p>
          <form [formGroup]="homeSellForm">
            <div class="form-group pt-3">
              <div
                class="input-field"
                [class.error]="
                  homeSellForm.controls['sellAmount'].dirty &&
                  homeSellForm.hasError('required', 'sellAmount')
                "
              >
                <input
                  id="sellAmount"
                  class="input m-3 p-2"
                  formControlName="sellAmount"
                  type="number"
                  placeholder="Sale"
                />
              </div>
              <small
                *ngIf="
                  homeSellForm.controls['sellAmount'].dirty &&
                  homeSellForm.hasError('required', 'sellAmount')
                "
                class="text-danger"
                >*Price is required
              </small>
            </div>
            <button
              (click)="sale()"
              type="submit"
              class="btn btn-primary btn-block mb-4 w-50"
            >
              Sell
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
